DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SITE_URL=https://askoldastakhov.com
NEXT_PUBLIC_ANALYTICS_PROVIDER=umami
NEXT_PUBLIC_UMAMI_URL=https://umami.aastakhov.com
NEXT_PUBLIC_UMAMI_WEBSITE_ID=513ae87a-25e9-4000-b143-c08d205c27e1
